.loading{
	background:url(../images/ajax-loader.gif) no-repeat center bottom;
width: 100%;
min-height: 80px;
margin: 20px 0px;

}

.loadingxs{
	background:url(../images/ajax-loader-sm.gif) no-repeat center bottom;
width: 100%;
/*min-height: 80px;
margin: 20px 0px;*/

}


.loadingsm{
	background:url(../images/ajax-loader.gif) no-repeat center bottom;
width: 100%;
min-height: 20px;
margin: 0px 0px;

}